fastapi
uvicorn
pandas
requests
uuid
python-dotenv
tenacity
langchain>=0.1.0
langchain-community
langchain-gigachat
faiss-cpu
ddgs>=2.0.0
rapidfuzz
duckduckgo-search
sqlalchemy
psycopg2-binary
alembic
